<form action="/search/filter" method="POST" id="filteredSearchForm">
    <h2>STEMConnect Filtered Search</h2>
    <p>Please enter the number of years you have worked in industry and the skills required </p>
        <div class="min-max-slider" data-legendnum="2">
            <label for="yearExp">Years Experience
                <input id="yearsExpSlider" class="min" name="yearsExp" type="range" step="1" min="0" max="30" value="" />
                <input id="yearsExpInput" name="yearsExp" type="number" min="0" max="30"/>
            </label>
        </div>  
        <label for="skillsLookUp">Skills</label>
        <input id="skillsLookUp" name="skillsLookup" type="text" placeholder="Skills"/>
        <div id="skillsList">
            <h4 id="skillsHeading"></h4>
            <ul id="insertedSkills"></ul>
        </div>
        <p>Optional Filter Categories</p>
        {{#if isUser}}
        <div id="jobCategory">
            <button id="revealCategory">Filter by Job Category</button>
            <div id="categoryInputFilter">
                <label for="categoryLookUp">Job Category</label>
                <input id="categoryLookUp" name="categoryLookup" type="text" placeholder="Job category"/>
                <button id="removeCategory">Remove Job Filter</button>
            </div>
        </div>
        <div id="minSalary">
            <button id="revealMinSalary">Filter by Minimum Salary</button>
            <div id="minimumSalaryFilter" class="min-max-slider" data-legendnum="2">
                <label for="minSalary">Years Experience
                    <input id="minSalarySlider" class="min" name="minSalary" type="range" step="1000" min="20000" max="500000" value="" />
                    <input id="minSalaryInput" name="minSalary" type="number" min="20000" max="500000"/>
                </label>
                <button id="removeMinSalary">Remove Salary Filter</button>
            </div>
        </div>
        {{else}}
        <div id="projectNumber">
            <button id="revealProjectNumber">Filter by Number of Personal Projects</button>
            <div id="projectNumberFilter" class="min-max-slider" data-legendnum="2">
                <label for="projectNumber">Years Experience
                    <input id="projectNumberSlider" class="min" name="projectNumber" type="range" step="1" min="0" max="20" value="" />
                    <input id="projectNumberInput" name="projectNumber" type="number" min="1" max="20"/>
                </label>
                <button id="removeProjectNumber">Remove Salary Filter</button>
            </div>
        </div>
        {{/if}}



        <button type="submit">Search</button>
        <br/>
        <div id="filteredSearchBarErrorState"></div>       
        <br/>
    </form>
<script src="/public/js/filteredSearch.js"></script>