<div id="navigationUnauthPartial">
    <div id="signIn">
        <h1>STEMConnect</h1>
        <p>A Modern Employment Solution</p>
        <a href="/login"><button id="loginButton">Login</button></a>
        <a href="/signup"><button id="signUpButton">Sign Up</button></a>
    </div>
    <div id="navigation">
        <ul id="navv-bar">
            <li><a href="/">Home</a></li>
            <li><a href="/search">Find a User or Company</a></li>
            <li><a href="/aboutUS">About Us</a></li>
        </ul>
    </div>
</div>