<div id="navigationAuthPartial">
    <div id="signOut">
        <h1>STEMConnect</h1>
        <p>A Modern Employment Solution</p>
        <a href="/logout"><button id="logoutButton">Logout</button></a>
    </div>
    <a class="navbar-brand" href="/">STEMConnect</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navigation">
        <ul class="navbar-nav" id="navv-bar">
            <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="/search">Filtered Search</a></li>
            <li class="nav-item"><a class="nav-link" href="/search">Profile</a></li>
            <li class="nav-item"><a class="nav-link" href="/search">{{listingType}} Builder</a></li>
            <li class="nav-item"><a class="nav-link" href="/aboutUS">About Us</a></li>
        </ul>
    </div>
</div>