<div id="navigationAuthPartial">
    <div id="signOut">
        <h1>STEMConnect</h1>
        <p>A Modern Employment Solution</p>
        <a href="/logout"><button id="logoutButton">Logout</button></a>
    </div>
    <div id="navigation">
        <ul id="navv-bar">
            <li><a href="/">Home</a></li>
            <li><a href="/search">Filtered Search</a></li>
            <li><a href="/search">Profile</a></li>
            <li><a href="/search">{{listingType}} Builder</a></li>
            <li><a href="/aboutUS">About Us</a></li>
        </ul>
    </div>
</div>