        <h1 class = "first">{{currentHeader}}</h1>
        <div class = "divForm">
            <form action="/login" method="POST" class="employee-login-form">
            <label id = "form">
                Username:
                <br>
                <input type="text" name="employeePassword" placeholder="Username" value="{{login.username}}" class="full-width-input"/>
                Password:
                <br>
                <input type="password" name="employeePassword" placeholder="Password" value="{{login.password}}" class="full-width-input"/>
            </label>
            <br>
            <br>
            <button class="btnLogin" type="submit">Log in</button>
            <button class="btnSignUp" type="TO BE DECIDED">Sign Up</button>
            </form>
        </div>