<a href="/logout" class="btn btn-outline-dark" role="button" aria-pressed="true">Click Here To
                    Logout</a>
<div class="container" id="companyView">
    <div class="row">
                <h1>Here</h1>
        <h1>{{user.address}}</h1>
            <div class="col-md-12 d-flex justify-content-between align-items-start">
                <div class="row">
                <div class="col-md-6 mx-3">
                    <div class="row">
                    <div class="col-md-6">
                            <img id="blah" style="height: 150px; width: 150px;"
                                src="https://png.pngtree.com/element_our/20200609/ourmid/pngtree-children-s-software-programming-image_2230761.jpg"
                                alt="your image" />
                    </div>
                        <div class="col-md-6">
                        <div class="form-group">
                        <label for="Username" class="no-margin">User Name</label>
                        <p class="no-margin"><strong>User Name</strong></p>
                    </div>
                    <div class="form-group">
                        <label for="HrInputEmail1" class="no-margin">Email</label>
                        <p class="no-margin"><strong>youremail@email.com</strong></p>
                    </div>
                        </div>
                    </div>
              
                </div>
                <div class="col-md-6 mx-3">
                    <div class="d-flex px-4 flex-column" id="workInformation">
                        <h4 class="text-left" for="profile">Personal Information</h4>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="ConfirmPassword" class="no-margin">First Name</label>
                                <p class="no-margin"><strong>First Name</strong></p>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="ConfirmPassword" class="no-margin">Last Name</label>
                                <p class="no-margin"><strong>Last Name</strong></p>
                            </div>
                        </div>

                        <div class="d-flex row">
                            <div class=" form-group col-md-6">
                                <label for="ConfirmPassword" class="no-margin">Gender</label>
                             <p class="no-margin"><strong>Male</strong></p>
                            </div>
                            <div class=" form-group col-md-6">
                                <label for="ConfirmPassword" class="no-margin">Date of Birth</label>
                                <p class="no-margin"><strong>24/11/2000</strong></p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="ConfirmPassword" class="no-margin">Phone Number</label>
                            <p class="no-margin"><strong>1234567890</strong></p>
                        </div>
                        <div class="form-group">
                            <label for="ConfirmPassword" class="no-margin">Address</label>
                            <p class="no-margin">
                                <strong>178  Armory Road <br/>
                                KINGDOM CITY <br/>
                                    Missouri<br/>
                                    65262<br/>
                                </strong>
                            </p>
                        </div>
                    </div>
                </div>
                    </div>
            </div>
            {{!-- Profile End --}}
      
            <div class="col-sm-12 d-flex justify-content-between align-items-center">
                <h4 class="text-left py-4" for="profile">Work Information</h4>
            </div>

            <div class="col-md-12 mb-3 d-flex justify-content-between align-items-center">
                <div class="row">
                <div class="col-md-6">
                    <div class="d-flex flex-column" id="workInformation">
                        <div class="form-group">
                            <label for="ConfirmPassword" class="no-margin">Company Name</label>
                            <p class="no-margin"><strong>Company Name</strong></p>
                        </div>
                        <div class="form-group">
                            <label for="ConfirmPassword" class="no-margin">Job Title</label>
                            <p class="no-margin"><strong>Job Title</strong></p>
                        </div>
                        <div class="form-group">
                            <label for="ConfirmPassword" class="no-margin">Job Location</label>
                            <p class="no-margin"><strong>Job Location</strong></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="no-margin" for="ConfirmPassword">Job Description</label>
                        <p class="no-margin"><strong>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Maecenas faucibus mollis interdum. Donec ullamcorper nulla non metus auctor fringilla. Aenean lacinia bibendum nulla sed consectetur.</strong></p>
                    </div>
                </div>
                    </div>
            </div>
            
            {{!-- Work Info End --}}
        <div class="col-sm-12 d-flex justify-content-between align-items-center">
                <h4 class="text-left py-4" for="profile">Resume</h4>
            </div>
            <div class="col-md-12 d-flex justify-content-between align-items-start">
                <div class="row">
                <div class="col-md-6 mx-3">
                    <div class="d-flex flex-column" id="resume">
                        
                        <div class="form-group">
                            <label for="ConfirmPassword" class="no-margin">Education</label>
                            <p class="no-margin"><strong>Education</strong></p>
                        </div>
                        <div class="form-group">
                            <label for="ConfirmPassword" class="no-margin">Skill</label>
                                                        <p class="no-margin"><strong>Skill</strong></p>
                        </div>
                        <div class="form-group">
                            <label for="ConfirmPassword" class="no-margin">Work Status</label>
                                                        <p class="no-margin"><strong>Work Status</strong></p>
                        </div>
                        <div class="form-group d-flex flex-column">
                            <label for="ConfirmPassword" class="no-margin">Resume</label>
                            <div>
                                <p class="no-margin"><strong><a href="#">Resume-1.pdf</a></strong></p>
                                <p class="no-margin"><strong><a href="#">Resume-2.pdf</a></strong></p>

                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label for="ConfirmPassword" class="no-margin">Years of Experience</label>
                                                        <p class="no-margin"><strong>3Years</strong></p>

                        </div>
                    </div>
                </div>
                <div class="col-md-6 mx-3">
                    <div class="form-group">
                        <label for="ConfirmPassword" class="no-margin">Description</label>
                                                    <p class="no-margin"><strong>Vestibulum id ligula porta felis euismod semper. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Donec id elit non mi porta gravida at eget metus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</strong></p>

                    </div>
                </div>
                    </div>
            </div>
            {{!-- Resume End --}}
            <div class="col-sm-12 d-flex justify-content-between align-items-center">
                <h4 class="text-left py-4" for="profile">Project</h4>
            </div>

            <div class="col-md-12 d-flex justify-content-between align-items-center">
                <div class="row">
                <div class="col-md-6 mx-3">
                    <div class="d-flex" id="project">
                        <div class="d-flex flex-column">
                            <div class="d-flex flex-row">
                            </div>
                            <div class="form-group">
                                <label for="ConfirmPassword" class="no-margin">Project Title</label>
                                                            <p class="no-margin"><strong>Job Location</strong></p>

                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="ConfirmPassword" class="no-margin">Start Date</label>

                                                                    <p class="no-margin"><strong>03/08/2015</strong></p>

                                </div>
                                <div class="col-md-6">
                                    <label for="ConfirmPassword">End Date</label>
                                    
                                                                                                            <p class="no-margin"><strong>03/08/2018</strong></p>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mx-3">
                    <div class="form-group">
                        <label for="ConfirmPassword" class="no-margin">Project Description</label>
                       <p class="no-margin"><strong>Vestibulum id ligula porta felis euismod semper. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Donec id elit non mi porta gravida at eget metus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</strong></p>
                    </div>
                </div>
                    </div>
            </div>
            <div id="cloneProject"></div>
            
        
       
    </div>
    </div>
</form>

<script src="/public/js/company.js"></script>