body{
    background-color: rgb(236, 238, 239);
    padding-top: 50px;
    padding-bottom: 50px;
}
img{
    max-width: 100%;    
}
input[type=file]{
    display: inline-block;
}
#file {
    text-align: center;
}
label{
    font-weight: 200;
}
button{
    background-color: rgb(60, 120,207);
    color: #ffffff;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
}
.bg-white{
    background-color: #ffffff;
    padding: 30px;
}

.profile-card  .box{
    background-color: #ffffff;
    padding: 30px;
}
.image-box{
    text-align: center;
}
.image-box img{
    width: 150px;
    height: 150px;
    object-fit: contain;
    object-position: center;
}
.jobTitle{
    font-size: 24px;
    margin-top: 15px;
    margin-bottom: 0px;
}
.complanyName{
    font-size: 14px;
    opacity: 0.65;
    margin: 0;
}
.salaryRange{
    margin-top: 15px;
    color: rgb(205,102,95);
}
.address{
    margin-top: 15px;
}
.map-pin{
    width: 25px;
}
.description{
    margin-top: 15px;
   margin-bottom: 15px;
    opacity: 0.75;
}
.tag{
    border: 1px solid rgb(168,213,232);
    color: rgb(168,213,232);
    border-radius: 30px;
    padding: 5px 10px;
    font-size: 10px;
}
.upper, .lower {
    opacity: 0;
    visibility: hidden;
}
.search{
    display: block;
    background: rgb(116,182,102);
    width: 100%;
}

input#homeSearchBar{
    width: 75%;
    height: 40px;
    text-align: center;
}

div#filteredSearch{
    display: none;
}

.hidden {
    display: none;
}

.toggleHold{
    display: inline-block;
}

.toggleHold .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
 
  .toggleHold .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .toggleHold .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(60, 120,207);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .toggleHold .slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .toggleHold input:checked + .slider {
    background-color:#cf943c;
  }
  
  .toggleHold input:focus + .slider {
    box-shadow: 0 0 1px #cf943c;
  }
  
  .toggleHold input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(22px);
  }
  
  /* Rounded sliders */
  .toggleHold .slider.round {
    border-radius: 34px;
    height: 26px;
    width:48px;
  }
  
  .toggleHold .slider.round:before {
    border-radius: 50%;
  }

  #getUserType{
      margin-right: 39px;
     
  }